/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #b8fff1;
  --ion-color-primary-rgb: 184, 255, 241;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #a2e0d4;
  --ion-color-primary-tint: #bffff2;

  --ion-color-secondary: #fdd1ff;
  --ion-color-secondary-rgb: 253, 209, 255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #dfb8e0;
  --ion-color-secondary-tint: #fdd6ff;

  --ion-color-tertiary: #ffe89e;
  --ion-color-tertiary-rgb: 255, 232, 158;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e0cc8b;
  --ion-color-tertiary-tint: #ffeaa8;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffde0a;
  --ion-color-warning-rgb: 255, 222, 10;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0c309;
  --ion-color-warning-tint: #ffe123;

  --ion-color-danger: #ff5233;
  --ion-color-danger-rgb: 255, 82, 51;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #e0482d;
  --ion-color-danger-tint: #ff6347;

  --ion-color-medium: #c2c2c2;
  --ion-color-medium-rgb: 194, 194, 194;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #ababab;
  --ion-color-medium-tint: #c8c8c8;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
